.profile-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
   
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-name {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .profile-links,
  .author-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .profile-link,
  .author-link {
    color: #333;
    text-decoration: none;
  }
  
  .profile-link:hover,
  .author-link:hover {
    text-decoration: underline;
  }
  
  .profile-author {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .author-links {
    margin-top: 5px;
  }
  
  .profile-icon,
  .author-icon {
    font-size: 20px;
  }